<article class="example">
  <h1>What is webpack???</h1>

  For the most part, websites are no longer just written in plain HTML with a bit of optional
  JavaScript - they're often entirely built by JavaScript. So we have to bundle, minify, and
  transpile the code into something all browsers understand, which is where webpack comes in.
  webpack is a module bundler. It packs all your code neatly for the browser. It allows you to write
  the latest JavaScript with Babel or use TypeScript, and compile it into something cross-browser
  compatible and neatly minified. It also allows you to import static assets into your JavaScript.
</article>
